*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 204, 204);

}
.Whole img{
    border: 0px solid white;
    margin: -6px; 
}
.container{
    border: 2px ;
    width: 50%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 420px;
    top:150px;
}
.container .Rila{
    box-shadow: -2px 2px 35px hsl(0, 47%, 50%);
    width: 80%;
    animation-name: Shadow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.container .Pilo{
    position: fixed;
    width: 11%;
    left: 0px;
    bottom: -11.2px;
}
.container .Dance{
    position: fixed;
    width: 10%;
    right: 0px;
    bottom: 0px;
}
.container .Float{
    position: fixed;
    width: 11%;
    right: -20px;
    bottom: 130px;
}
.container .Train{
    position: fixed;
    width: 18.2%;
    top: -12.5px;
    right: 0px;
    animation-name: Train;
    animation-duration: 21.5s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-direction:alternate-reverse;
    animation-play-state: step(5555); 
}
@keyframes Train {
    from{transform: translateX(-1320px);}
}
@keyframes Shadow{
    100%{background-color: 0px 0px 50px rgb(249, 0, 0), 0px 0px -50px rgb(249, 0, 0);}
}
.Rila:hover{
    background-color: hsl(0, 47%, 50%);
    box-shadow: 5px 5px 5px hsl(0, 47%, 50%), -5px -5px -5px hsl(0, 47%, 50%);
}
.container audio{
    border: 5px dotted white;
    border-radius: 1.9em;
    box-shadow: 0px 6.5px 9.5px white, 0px -6.5px 9.5px white;
}
.container .Music{
    position: fixed;
    bottom: 27.5px;
    right: 40.2%
}
.Fall .F1{
    position: fixed;
    bottom: 400px;
    left: 230px;
}
.Fall .F2{
    position: fixed;
    bottom: 400px;
    left: 0px;
}
